@model Formulario_html_helpers.Models.Formulario

@{
    ViewBag.Title = "Formulario";
}

<br />
<br />
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="offset-lg-4 offset-md-3 col-sm-12 col-md-6 col-lg-4">
        <div class="card">
            <div class="card-body" style="width:1000px;">
                <h2 class="text-primary">Registro de Usuario</h2>

                <div class="form-group">
                    <b>@Html.LabelFor(x => Model.cedula, new { @class = "control-label" })</b>
                    @Html.TextBoxFor(x => Model.cedula, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.cedula, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <b>@Html.LabelFor(x => Model.nombre, new { @class = "control-label" }) </b>
                    @Html.TextBoxFor(x => Model.nombre, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })


                </div>
                <div class="form-group">
                    <b>  @Html.LabelFor(x => Model.apellido, new { @class = "control-label" })</b>
                    @Html.TextBoxFor(x => Model.apellido, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.apellido, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <b>    @Html.LabelFor(x => Model.edad, new { @class = "control-label" })  </b>
                    @Html.EditorFor(x => Model.edad, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.edad, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">

                    <b>   @Html.LabelFor(x => Model.telefono, new { @class = "control-label" }) </b>
                    @Html.TextBoxFor(x => Model.telefono, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.telefono, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <b>  @Html.LabelFor(x => Model.email, new { @class = "control-label" })</b>
                    @Html.TextBoxFor(x => Model.email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <b>@Html.LabelFor(x => Model.genero, new { @class = "control-label" })</b>
                    @Html.DropDownList("Genero", new List<SelectListItem>{
                        new SelectListItem{Text="Masculino", Value = "Masculino"},
                        new SelectListItem{Text="Femenino", Value = "Femenino"}},
         " Seleccionar Género ", new { @class = "form-control" })
                </div>

                <div class="form-group">
                    @Html.CheckBox("hobbys[]", false, new { @value = "Programar" })
                    Programar |
                    @Html.CheckBox("hobbys[]", false, new { @value = "Leer" })
                    Leer |
                    @Html.CheckBox("hobbys[]", false, new { @value = "Comer" })
                    Comer |
                    @Html.CheckBox("hobbys[]", false, new { @value = "Dormir" })
                    Dormir
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.estadoCivil, htmlAttributes: new { @class = "control-label col-md-12" })
                    <br />
                    Casado
                    @Html.RadioButtonFor(model => model.estadoCivil, "Casado")
                    <br />
                    Soltero
                    @Html.RadioButtonFor(model => model.estadoCivil, "Soltero")
                    <br />
                    Viudo
                    @Html.RadioButtonFor(model => model.estadoCivil, "Viudo")
                    <br />
                    Union Libre
                    @Html.RadioButtonFor(model => model.estadoCivil, "Union Libre")

                </div>

                <div>
                    @Html.ValidationSummary()
                </div>

                <input type="submit" class="btn btn-primary btn-block" value="Iniciar Sesion">

            </div>
        </div>
    </div>
}